<%- include("./partials/main.ejs") %>
<%- include("./partials/Navbar.ejs") %>

<div class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-lg-4 col-xl-4 mt-5 text-lg-left text-center ml-auto mr-auto">
                <h1 class="title-banner">Buy Your Products</h1>
                <p class="paraghap-banner mt-5">
                    You can find your favorite products and buy in a very simple way. Try it today.
                </p>

                <button class="btn btn-new-color btn-lg">Contact sales</button>
            </div>

            <div class="col-md-8 col-sm-12 col-lg-8 col-xl-8 d-lg-block d-none">
               <img src="/img/buy-hero.svg" alt="hero-image" class="d-lg-block d-none hero-image mt-4">
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="title-section">
        <h1>Enjoy the best experience</h1>
    </div>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4 col-sm-12 col-lg-4 col-xl-4">
                <div class="card h-100">
                    <img src="/img/watch.png" alt="Watch" class="card-img-top img-responsive">
                    <div class="card-body">
                        <p class="card-text text-section">Save time to do your shopping</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-lg-4 col-xl-4">
                <div class="card h-100">
                    <img src="/img/heart.png" alt="Heart" class="card-img-top img-responsive">
                    <div class="card-body">
                        <p class="card-text text-section">You are in the right hands</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-lg-4 col-xl-4">
                <div class="card h-100">
                    <img src="/img/quality-buy.png" alt="Heart" class="card-img-top img-responsive">
                    <div class="card-body">
                        <p class="card-text text-section">100% quality of payments if you do not like the quality of a product we will rebate it</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
                <h3 class="mt-5 text-footer">Buy products from our app.</h3>
                <img src="img/shopping-app.png" alt="Shopping app" class="img-shopping img-responsive">
            </div>

            <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6 justify-content-end">
                <p class="description-footer mt-5">Enjoy a better experience by downloading the app</p>
                <img src="img/app-adroid.svg" alt="App for adroid" class="img-adroid img-responsive">
            </div>
        </div>

        <p class="mt-4 text-center p-copy">Copyright © 2020 - 2021 by Buyers</p>
    </div>
</footer>

<%- include("./partials/footer.ejs") %> 